.page-content {
    table:not(.footnote):not(.indextable):not(.hlist):not(.option-list):not(.field-list) {
        @extend .mdl-data-table;
        @extend .mdl-shadow--2dp;

        margin: 14px 0px;
        table-layout: fixed;
        max-width: 100%;

        th, td {
            @extend .mdl-data-table__cell--non-numeric;
            white-space: normal;
            overflow-wrap: break-word;
        }
    }
}