.page-content {
    ul {
        li {
            p {
                margin: 0;
            }
        }
    }
    .option-list {
        .option {
            font-family: $code_font_family;
        }
        td {
            padding: 0.5rem;
            border: none;
        }
    }
}