.globaltoc {
    .caption, .toc {
        display: none;
    }

    ul {

        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            min-height: 48px;
            .link-wrapper {
                display: flex;
                justify-content: space-between;
                > a {
                    @extend .mdl-navigation__link;
                    padding: 12px 0;
                    display: block;
                    width: 100%;
                    font-size: 1rem;
                }
            }
        }
    }

    .nav-toggle {
        padding: 0;
        float: right;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        > a {
            padding: 0;
            margin-left: 0;
            margin-right: 4px;
            cursor: pointer;
            > i {
                font-size: 18px;
            }
        }
        &.show {
            transform: rotateZ(180deg);
            > a {
                margin-right: 0;
                margin-left: 4px;
            }
        }
    }

    nav {
        > ul > li > span.link-wrapper {
            padding-left: 8px;
        }
        > ul > li > ul > li > span.link-wrapper {
            padding-left: 16px;
        }
        > ul > li > ul > li > ul > li > span.link-wrapper {
            padding-left: 24px;
        }
        > ul > li > ul > li > ul > li > ul> li > span.link-wrapper {
            padding-left: 32px;
        }
    }
}
