/*
Variables
*/
$font_size: 14px;

$background_color: #fafafa;
$code_background: rgba(0,0,0,.05);

$body_font_family: Roboto, 'Noto Sans Japanese' !default;
$code_font_family: "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace !default;

$xl-breakpoint: 1795px;
$lg-breakpoint: 1200px;
$md-breakpoint: 992px;
$sm-breakpoint: 768px;
$xs-breakpoint: 576px;